.sidebar {
  width: 200px;
  //   background-color: #fff; // Bootstrap's light background color
  //   padding: 20px;
}
.nav-item {
  border-bottom: 1px solid #92906a;
}
.nav-link {
  padding-top: 20px;
  color: #9b7a5a; // 文字顏色
  transition: transform 0.3s ease;

  &:focus,
  &.active {
    color: #5b4034; // 點擊時文字顏色
    background-color: #f1f1e9; // 點擊時背景顏色
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(91, 64, 52, 0.2);
    color: #5b4034; // 點擊時文字顏色
  }
}
