.orderConfirmation {
    max-width: 70%;
    margin: 40px auto;
    /* padding: 20px; */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.okImg {
    width: 100px;
    height: 100px;
}

/* 置中字體 */
.textCenter {
    text-align: center;
}

/* 訂單字體 */
.orderConfirP {
    font-size: 1.2rem;
    color: #633203;
    margin-bottom: 1rem;
    font-weight: 500
}

.orderConfirP strong {
    color: #5e4f41;
    font-weight: 700
}

.couponNote {
    font-size: 0.8rem;
    color: #6f9d02;
}

/* 訂單標題字體 */
.orderTitleStyle {
    font-size: 2rem;
    color: #5e4f41;
    background-color: #f1f1e9;
    margin-bottom: 2rem;
    padding: 1rem;
    letter-spacing: 10px;
    font-weight: 700
}

.orderInfo,
.orderItems {
    margin-top: 20px;
    /* padding: 20px; */
    /* border: 1px solid #ddd; */
    border-radius: 8px;
}

.orderDetails,
.recipientInfo {
    margin-bottom: 10px;
}

.orderItems h3 {
    margin-bottom: 15px;
}

.itemsList {
    display: flex;
    flex-direction: column;
}

/* 訂單項目置中 */
.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

/* 訂單項目圖片設定 */
.itemImage {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin-right: 15px;
}

.itemInfo {
    flex: 1;
}

.itemName {
    font-weight: bold;
}

/* 訂單按鈕樣式 */
.btnGoToPayment {
    background-color: #5e4f41;
    border-color: #5e4f41;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-bottom: 1rem;

    &:hover {
        background-color: #b8c2a1;
        border-color: #b8c2a1;
    }
}

/* 付款狀態顏色樣式 */
/* 未付款 (紅色) */
.paymentUnpaid {
    color: red;
    font-weight: bold;
}

/* 已付款 (綠色) */
.paymentPaid {
    color: green;
    font-weight: bold;
}

.link {
    text-decoration: none;
}

/* 針對手機版，改為垂直排列 */
@media (max-width: 768px) {

    .orderConfirmation {
        max-width: 95%;
    }

    .orderItems .item {
        flex-direction: column;
        /* 讓圖片在上方，描述在下方 */
        text-align: center;
        /* 讓文字置中 */
    }

    .orderItems .item img {
        width: 100%;
        /* 讓圖片佔滿容器寬度 */
        max-width: 300px;
        /* 限制最大寬度，避免過大 */
        margin-bottom: 10px;
        /* 增加圖片與文字的間距 */
    }
}