.orderConfirmation {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.textCenter {
    text-align: center;
}

.orderConfirP {
    font-size: 1.2rem;
    color: #2f2720;
    margin-bottom: 1rem;
    font-weight: 400
}

.orderTitleStyle {
    font-size: 2rem;
    color: #5e4f41;
    margin-bottom: 2rem;
    letter-spacing: 10px;
    font-weight: 700
}

.orderInfo,
.orderItems {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.orderDetails,
.recipientInfo {
    margin-bottom: 10px;
}

.orderItems h3 {
    margin-bottom: 15px;
}

.itemsList {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.itemImage {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    margin-right: 15px;
}

.itemInfo {
    flex: 1;
}

.itemName {
    font-weight: bold;
}

.btnGoToPayment {
    background-color: #5e4f41;
    border-color: #5e4f41;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: #b8c2a1;
        border-color: #b8c2a1;
    }
}