.up-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 55px;
    bottom: 30px;
    border-radius: 50%;
    background-color: #8b7355e6;
    font-size: 20px;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 5;
    cursor: pointer;
    
    &:hover {
        background-color: #5A4738;
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    &.active{
        display: flex;
    }

    a{
        color: var(--white);
    }

    @media (max-width: 768px) {
        right: 20px;
        bottom: 0px;
    }
}