.productSidebarImage {
    width: 75%;

}

.pCartSidebarTitle {
    color: #5e4f41;
}

.sidebarCartButton {
    background-color: #5e4f41;
    border-color: #5e4f41;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: #b8c2a1;
        border-color: #b8c2a1;
    }
}

.productSidebarLink {
    text-decoration: none;
    color: #5e4f41;
}

.productSidebarItem {
    display: flex;
    align-items: center;
    /* 垂直置中 */
    justify-content: center;
    /* 水平置中 */
    text-align: center;
    /* 讓文字也置中 */
    flex-direction: column;
    /* 讓內容垂直排列 */
}