/* 當螢幕寬度小於等於 375px 時的樣式 */
@media (max-width: 375px) {
    .container {
        padding: 0;
    }
    .forumArea {
      flex-direction: column; /* 讓內容垂直排列 */
      align-items: center; /* 讓內容置中對齊 */
    }
    .userSide {
        background: #ffffff00;
        width: 100%;
        /* height: 370px; */
        padding: 0px;
        padding-inline: 16px;
        /* Drop Shadow */
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        display: flex;
        gap: 12px;
    }
    .boxA {
        display: flex;
        flex-direction: column;
    }
    .boxB {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .avatar {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 2px;
        overflow: hidden;
        text-align: center;
      }
    .btnUserName {
        width: 126px;
        margin-block: 0;
        margin-bottom: 10px;
    }
    .forumUL {
        width: 100%;
        overflow: hidden;
    }
    .forumList {
        width: 375px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .forumMenu {
        width: 618px;
        height: 60px;
    }
    .forumMenuBtn {
        padding-inline: 15px;
    }
    .forumLi {
        border-bottom: 1px solid #ede8e2;
        border-right: 1px solid #afa59c;
        border-left: 1px solid #afa59c;
        width: 100%;
        height: 500px; /*高度待修改*/
        padding: 15px;
        background-color: #fff;
        flex-direction: column;
        &.hover {
          cursor: pointer;
        }
    }
}