.finish .order .order-item {
    background-color: var(--brand-color_7);
    padding: 14px 38px;
    margin: 0 156px;
    margin-top: 51px;
    margin-bottom: 83px;
    border-radius: 50px
}

.finish .order .order-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.finish .order .order-item ul .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.finish .order .order-item ul .item.active .num {
    background-color: var(--brand-color_2)
}

.finish .order .order-item ul .item.active p {
    color: var(--brand-color_2)
}

.finish .order .order-item ul .item .num {
    margin-right: 24px;
    background-color: var(--gray-color_8);
    border-radius: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white);
    font-size: 21px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700
}

.finish .order .order-item ul .item p {
    color: var(--gray-color_8);
    font-size: 21px;
    font-weight: 700
}

.finish .order .order-item ul .line {
    background-color: var(--gray-color_8);
    width: 70px;
    height: 1px
}

.finish .order .order-item ul .line.active {
    background-color: var(--gray-color_8)
}

.finish .completed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.finish .completed .container img {
    width: 151px;
    height: 151px;
    margin-bottom: 75px
}

.finish .completed .container h2 {
    color: var(--brand-color_8);
    font-weight: 700;
    font-size: 60px
}

.finish .submit {
    margin-bottom: 138px
}




.finish .main {
    background-color: var(--white);
    border-radius: 5px;
    width: 100%;
}

.finish .main hr {
    margin: 20px;
    background-color: var(--brand-color_2);
    opacity: .1
}

.finish .main .title {
    color: var(--brand-color_5);
    border-radius: 5px 5px 0 0;
    font-weight: 700;
    background-color: var(--brand-color_7);
}

.finish .main .title h3 {
    color: var(--brand-color_2);
    font-size: 24px;
    padding: 20px 25px;
    font-weight: 700
}

.finish .main .content {
    padding: 20px
}

.finish .main .content .title{
    background-color: transparent;
}

.finish .main .content hr {
    margin: 20px 0
}

.finish .main .content .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.finish .main .content .header p {
    width: 20%;
    font-weight: 700;
    color: var(--brand-color_2)
}

.finish .main .content .header p:first-child {
    width: 70%
}

.finish .main .content .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.finish .main .content .item .name-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.finish .main .content .item .name-pic .image {
    width: 100px;
    height: 100px;
    margin-right: 21px
}

.finish .main .content .item .name-pic .name {
    font-weight: 700;
    color: var(--brand-color_5)
}

.finish .main .content .item .item-style {
    width: 20%
}

.finish .main .content .item .item-style p {
    font-weight: 700;
    color: var(--brand-color_5)
}

.finish .main .content .item .item-style:first-child {
    width: 70%
}

.finish .main .total {
    padding: 20px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--brand-color_2);
    font-weight: 700
}

.finish .main .total p {
    color: var(--brand-color_2)
}

.finish .main .total p:last-child {
    color: var(--brand-color_5)
}
.finish .submit{
    margin: 10px auto;
    display: flex;
}
.finish .submit a {
    background-color: #5e4f41;
    border-color: #5e4f41;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}